{% extends 'base.html.twig' %}

{% block title %}Bienvenur sur UnoLike{% endblock %}

{% block body %}

<div class="bg-linear-to-b from-red-500 to-black h-[96vh]">
    <h1 class="text-4xl text-center py-4">Bienvenue dans un jeu de Uno sans les droits de Uno !</h1>
    <div class="py-5 text-center">
        <p class="my-4">Pour commencer une partie :</p>
        <a href="{{ path("app_init")}}" class="bg-amber-300 h-min-20 w-min-20 p-4 my-4 rounded-lg text-4xl">Cliquer ici !</a>
    </div>
</div>
{% endblock %}
