{% extends 'base.html.twig' %}

{% block title %}Bienvenur sur UnoLike{% endblock %}

{% block body %}

<div>
    <h1 class="text-red-500">Bienvenue dans un jeu de Uno sans les droits de Uno !</h1>
    <div>
        <p>Pour commencer une partie :</p>
        <a href=''>Cliquer ici !</a>
    </div>
</div>
{% endblock %}
